:root{
    --blue:rgb(20, 20, 131);
    --yellow:rgb(180, 180, 25);
    --green: rgb(22, 173, 22);
    --red: rgb(179, 24, 24);

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    display: flex;
    min-height: 100vh; /*v =viewport h= height */
    align-items: center;
    justify-content: center;
    background :black;
}

#calendar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 960px;

}


.window{
    position: relative;
    width: 150px;
    height: 150px;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin: 5px;
    overflow: hidden;
}

.txt-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    transition: 2s;
}


.txt-box span {
    color:  #fff;
    font-size: 40px;

}


.txt-box.blue{background: var(--blue);}
.txt-box.yellow{background: var(--yellow);}
.txt-box.green{background: var(--green);}
.txt-box.red{background: var(--red);}

.img-box{
    z-index: 1;
}

.img-box img{
    display: block;
    width: 100%;
}

.txt-box:hover{
    opacity: 0;
}
